@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2F6B6B;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
